<nav class="navbar navbar-expand-lg navbar-dark text-white text-capitalize sticky-top mat-elevation-z8" style="padding-left: 3rem">
    <a class="navbar-brand" routerLink="/" style="display: contents;">
        <img src="./../../../assets/YSign.jfif" width="30" height="30" class="d-inline-block align-top" alt="Yourmart">
        <span style="padding-left: 6px;">Hospital app</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
            </li>
        </ul>
        <span *ngIf="isUserLoggedIn;else other_content" class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Welcome {{user.userName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" (click)="logout()">Logout</a>
            </div>
        </span>
        <ng-template #other_content>
            <span class="form-inline my-2 my-lg-0">
                <a class="nav-link" routerLink='/login'>Login</a>
            </span>
        </ng-template>
    </div>
</nav>